<h3>Scene: <%= @scene.title %> </h3>
<p>
  <%= @scene.description %>
</p>
<div id="previous-scenes">
  <table class="table table-hover">
    <th>
      Possible outcomes:  
    </th>
    <% @next_scenes.each do |s| %>
      <tr>
        <td>
          <%= s %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<%= link_to "Check In a Player", new_check_in_path(adventure_id: params[:adventure_id], scene_id: @scene.id), class: 'btn btn-warning' %>
