<div class='container'>
  <h2>Adventures</h2>

  <%= link_to "Create Adventure", new_adventure_path, class: 'btn btn-success' %>

  <%= link_to "Users", admin_users_path, class: "btn btn-success" %>

  <ul>
    <% @list.each do |a| %>
    <li><%= link_to a.name, adventure_path(a.id) %> - <em><%= a.tagline %></em></li>
    <% end %>
  </ul>

</div>
